In [153]:
import pandas as pd

In [154]:
hotel_df=pd.read_csv('realdata.csv')
hotel_df

      ID                NAME  HOTEL ID         HOTEL NAME    LOCATION  RATING
0      1        Rekha Poudel         1      Hotel Shanker   Kathmandu     3.0
1      2       Renuka Dhakal         1      Hotel Shanker   Kathmandu     4.0
2      3     Rewat Kumar Rai         1      Hotel Shanker   Kathmandu     3.0
3      4      Richa Maharjan         1      Hotel Shanker   Kathmandu     2.0
4      5       Rijan Paudyal         1      Hotel Shanker   Kathmandu     2.0
...   ..                 ...       ...                ...         ...     ...
2058  58        Bina Tamang        143  Hotel Pahuna Ghar  Nepalgunj      3.0
2059  15     Sonika Adhikari       143  Hotel Pahuna Ghar  Nepalgunj      4.0
2060  87     Rukmat Shrestha       143  Hotel Pahuna Ghar  Nepalgunj      5.0
2061  22  Yagya Prasad Aryal       143  Hotel Pahuna Ghar  Nepalgunj      4.0
2062  64     Sabina Shrestha       143  Hotel Pahuna Ghar  Nepalgunj      3.0

[2063 rows x 6 columns]

In [155]:
hotelnamelocdf=hotel_df[["HOTEL NAME","LOCATION"]]
hotelnamelocdf

             HOTEL NAME    LOCATION
0         Hotel Shanker   Kathmandu
1         Hotel Shanker   Kathmandu
2         Hotel Shanker   Kathmandu
3         Hotel Shanker   Kathmandu
4         Hotel Shanker   Kathmandu
...                 ...         ...
2058  Hotel Pahuna Ghar  Nepalgunj
2059  Hotel Pahuna Ghar  Nepalgunj
2060  Hotel Pahuna Ghar  Nepalgunj
2061  Hotel Pahuna Ghar  Nepalgunj
2062  Hotel Pahuna Ghar  Nepalgunj

[2063 rows x 2 columns]

In [156]:
mainhotelnamelocdf=hotelnamelocdf.drop_duplicates()
mainhotelnamelocdf

                 HOTEL NAME    LOCATION
0             Hotel Shanker   Kathmandu
7       Kathmandu Eco Hotel   Kathmandu
29              Hotel Jampa   Kathmandu
39    Apsara Boutique hotel   Kathmandu
60       Hotel Sweet Dreams   Kathmandu
...                     ...         ...
1962            Hotel Sneha  Nepalgunj
1979   Hotel Central Plazza  Nepalgunj
1996       Hotel New Atithi  Nepalgunj
2017    Traveller's Village  Nepalgunj
2042      Hotel Pahuna Ghar  Nepalgunj

[140 rows x 2 columns]

In [157]:
hotelrating=hotel_df.pivot_table(index=['ID'],columns=['HOTEL NAME'],values='RATING')
hotelrating

HOTEL NAME,Aashirbadh Hitel,Annapurna Banquet Pvt Ltd,Annapurna Hotel Nepal,Apsara Boutique hotel,Avocardo And Orchid Resort,Barewa Durbar Hotel And Banquet,Bhairav Village Farm,Bhaktapur Guest House,Bhaktapur Home Pvt Ltd,Bhaktapur Mibchen Home Stay,...,Summit Hotel,Sun Appartmnt And Guesthouse,Taumdhi Homestay,The Chulo Hotel,Townhall Party Palace And Hotel Peace Garden,Traveller's Village,Welcome Heritage Inn,White Pearl Pokhara,Yara Hotel,Zostel Pokhara
ID,,,,,,,,,,,,,,,,,,,,,
1,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
4,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,3.0,4.0
97,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,3.0,2.0,NaN,3.0,NaN,3.0,3.0,NaN

In [158]:
corrMatrix=hotelrating.corr(method='pearson')
corrMatrix

HOTEL NAME,Aashirbadh Hitel,Annapurna Banquet Pvt Ltd,Annapurna Hotel Nepal,Apsara Boutique hotel,Avocardo And Orchid Resort,Barewa Durbar Hotel And Banquet,Bhairav Village Farm,Bhaktapur Guest House,Bhaktapur Home Pvt Ltd,Bhaktapur Mibchen Home Stay,...,Summit Hotel,Sun Appartmnt And Guesthouse,Taumdhi Homestay,The Chulo Hotel,Townhall Party Palace And Hotel Peace Garden,Traveller's Village,Welcome Heritage Inn,White Pearl Pokhara,Yara Hotel,Zostel Pokhara
HOTEL NAME,,,,,,,,,,,,,,,,,,,,,
Aashirbadh Hitel,1.00000,1.0,-1.0,1.000000,NaN,NaN,0.500000,0.866025,-0.500000,0.333333,...,NaN,NaN,0.316228,5.000000e-01,-0.190693,-0.577350,NaN,1.000000,NaN,NaN
Annapurna Banquet Pvt Ltd,1.00000,1.0,NaN,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.500000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
Annapurna Hotel Nepal,-1.00000,NaN,1.0,NaN,NaN,NaN,0.333333,NaN,0.188982,NaN,...,NaN,NaN,-1.000000,-8.660254e-01,NaN,NaN,NaN,NaN,NaN,NaN
Apsara Boutique hotel,1.00000,NaN,NaN,1.000000,-1.000000,NaN,NaN,NaN,-1.000000,NaN,...,NaN,NaN,1.000000,NaN,NaN,1.000000,0.866025,NaN,NaN,1.0
Avocardo And Orchid Resort,NaN,0.5,NaN,-1.000000,1.000000,NaN,NaN,NaN,0.316228,-1.000000,...,NaN,NaN,-1.000000,NaN,NaN,0.158114,NaN,-0.866025,NaN,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Traveller's Village,-0.57735,NaN,NaN,1.000000,0.158114,NaN,NaN,1.000000,NaN,0.333333,...,NaN,-1.0,0.188982,1.922963e-16,NaN,1.000000,-0.866025,1.000000,NaN,NaN
Welcome Heritage Inn,NaN,NaN,NaN,0.866025,NaN,-1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1.000000,-0.866025,1.000000,NaN,NaN,NaN
White Pearl Pokhara,1.00000,NaN,NaN,NaN,-0.866025,NaN,NaN,1.000000,NaN,NaN,...,NaN,NaN,0.500000,7.905694e-01,NaN,1.000000,NaN,1.000000,NaN,1.0
Yara Hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Zostel Pokhara,NaN,NaN,NaN,1.000000,-1.000000,NaN,-1.000000,NaN,0.577350,NaN,...,NaN,NaN,1.000000,-1.581139e-01,NaN,NaN,NaN,1.000000,NaN,1.0

In [159]:
userrating=hotelrating.loc[1].dropna()
userrating

HOTEL NAME
Annapurna Banquet Pvt Ltd    4.0
Hotel Balcony                2.0
Hotel Holiday Home           3.0
Hotel Kutumba                5.0
Hotel Maden Inn              3.0
Hotel Pristine Himalaya      1.0
Hotel Shanker                3.0
Hotel Utsav                  3.0
Kathmandu Eco Hotel          3.0
Manash Hotel                 4.0
Omega Hotel And Lodge        4.0
Planet Bhaktapur Hotel       4.0
Yara Hotel                   4.0
Name: 1, dtype: float64

In [160]:
simcandidates = pd.Series()
#simcandidates=pd.DataFrame()
for i in range(0, len(userrating.index)):
    print(userrating.index[i]) 
    #retrive similar hotel to this one i rated
    sims = corrMatrix[userrating.index[i]].dropna()
    #scale its similarity by how well i rated this hotel
    sims = sims.map(lambda x: x * userrating[i])
    #add the score to the list of similarity candidates
    simcandidates = simcandidates.append(sims)
    

#glance at our results so far:
simcandidates

Annapurna Banquet Pvt Ltd
Hotel Balcony
Hotel Holiday Home
Hotel Kutumba
Hotel Maden Inn
Hotel Pristine Himalaya
Hotel Shanker
Hotel Utsav
Kathmandu Eco Hotel
Manash Hotel
Omega Hotel And Lodge
Planet Bhaktapur Hotel
Yara Hotel

C:\Users\Dell\AppData\Local\Temp/ipykernel_17444/2345211597.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simcandidates = pd.Series()

Aashirbadh Hitel                     4.000000
Annapurna Banquet Pvt Ltd            4.000000
Avocardo And Orchid Resort           2.000000
Dahila Boutique Hotel                3.464102
Galaxy Guest House And Restaurant    4.000000
                                       ...
Hotel Balcony                       -4.000000
Hotel Holiday Home                   2.000000
Hotel Maden Inn                     -1.333333
Hotel Pristine Himalaya             -2.828427
Yara Hotel                           4.000000
Length: 553, dtype: float64

In [161]:
print( "sorting...")
simcandidates.sort_values(inplace = True, ascending = False)
simcandidates

sorting...

Omega Hotel And Lodge      5.000000
Hotel Kutumba              5.000000
Hotel Sita Palace          5.000000
Hotel Span                 5.000000
Hotel Star Purwi           5.000000
                             ...
Hotal Gautam Raj          -4.724556
Hotel Pristine Himalaya   -4.866643
Hotel Lake Paradise       -5.000000
Gauri Hotel               -5.000000
Hotel Balcony             -5.000000
Length: 553, dtype: float64

In [162]:
simcandidates=simcandidates.groupby(simcandidates.index).sum()
simcandidates

Aashirbadh Hitel             -1.635360
Annapurna Banquet Pvt Ltd     9.700000
Annapurna Hotel Nepal         1.500000
Apsara Boutique hotel         1.000000
Avocardo And Orchid Resort   -6.461220
                                ...
Traveller's Village           3.618405
Welcome Heritage Inn         -6.480429
White Pearl Pokhara           7.708691
Yara Hotel                    1.792893
Zostel Pokhara                9.973329
Length: 132, dtype: float64

In [163]:
simcandidates.sort_values(inplace = True, ascending = False)
simcandidates

Regal Hetauda Resort                  13.267787
Omega Hotel And Lodge                 12.321320
Zostel Pokhara                         9.973329
Annapurna Banquet Pvt Ltd              9.700000
Hotel Kutumba                          9.610559
                                        ...
Kathmandu Boutique Hotel              -9.920871
Mystic Homes; Hotel And Appartment   -10.000000
Bhaktapur Home Pvt Ltd               -10.392305
Hotel Lake Paradise                  -14.828325
Hotel Balcony                        -15.475575
Length: 132, dtype: float64

In [164]:
filteredSims=simcandidates.drop(userrating.index)
filteredSims

Regal Hetauda Resort                  13.267787
Zostel Pokhara                         9.973329
Taumdhi Homestay                       9.483078
Hotel Star Purwi                       9.000000
Hotel Jampa                            8.966982
                                        ...
Hotal Suraj                           -9.449081
Kathmandu Boutique Hotel              -9.920871
Mystic Homes; Hotel And Appartment   -10.000000
Bhaktapur Home Pvt Ltd               -10.392305
Hotel Lake Paradise                  -14.828325
Length: 119, dtype: float64

In [165]:
simcandidatesdf=filteredSims.to_frame(name= 'hotels')
simcandidatesdf

                                       hotels
Regal Hetauda Resort                13.267787
Zostel Pokhara                       9.973329
Taumdhi Homestay                     9.483078
Hotel Star Purwi                     9.000000
Hotel Jampa                          8.966982
...                                       ...
Hotal Suraj                         -9.449081
Kathmandu Boutique Hotel            -9.920871
Mystic Homes; Hotel And Appartment -10.000000
Bhaktapur Home Pvt Ltd             -10.392305
Hotel Lake Paradise                -14.828325

[119 rows x 1 columns]

In [166]:

simcandidatesdf=pd.DataFrame({'HOTEL NAME':filteredSims.index,'rating':filteredSims.values})
simcandidatesdf

                             HOTEL NAME     rating
0                  Regal Hetauda Resort  13.267787
1                        Zostel Pokhara   9.973329
2                     Taumdhi Homestay    9.483078
3                      Hotel Star Purwi   9.000000
4                           Hotel Jampa   8.966982
..                                  ...        ...
114                         Hotal Suraj  -9.449081
115            Kathmandu Boutique Hotel  -9.920871
116  Mystic Homes; Hotel And Appartment -10.000000
117              Bhaktapur Home Pvt Ltd -10.392305
118                 Hotel Lake Paradise -14.828325

[119 rows x 2 columns]

In [167]:
#newdf=mainhotelnamelocdf.merge
mergedsimdf=pd.merge(simcandidatesdf,mainhotelnamelocdf)
mergedsimdf

                             HOTEL NAME     rating    LOCATION
0                  Regal Hetauda Resort  13.267787    Hetauda
1                        Zostel Pokhara   9.973329     Pokhara
2                     Taumdhi Homestay    9.483078  Bhaktapur
3                      Hotel Star Purwi   9.000000     Dharan
4                           Hotel Jampa   8.966982   Kathmandu
..                                  ...        ...         ...
114                         Hotal Suraj  -9.449081    Birjung
115            Kathmandu Boutique Hotel  -9.920871   Lalitpur
116  Mystic Homes; Hotel And Appartment -10.000000   Lalitpur
117              Bhaktapur Home Pvt Ltd -10.392305  Bhaktapur
118                 Hotel Lake Paradise -14.828325     Pokhara

[119 rows x 3 columns]

In [173]:
sel_place=mergedsimdf.loc[mergedsimdf['LOCATION']=='Kathmandu']
sel_place

                   HOTEL NAME    rating   LOCATION
4                 Hotel Jampa  8.966982  Kathmandu
16              Dwarika Hotel  4.882353  Kathmandu
26      Oasis Kathmandu Hotel  3.171499  Kathmandu
27         Hotel Sweet Dreams  3.075843  Kathmandu
31       Hotel meridian suite  2.236237  Kathmandu
36   Radisson Hotel Kathmandu  1.608707  Kathmandu
38               Summit Hotel  1.500000  Kathmandu
48      Apsara Boutique hotel  1.000000  Kathmandu
101               Gauri Hotel -5.690599  Kathmandu
102             Marriot Hotel -5.982988  Kathmandu
107      Kumari Botique Hotel -6.918538  Kathmandu
108   Kathmandu Botique Hotel -7.204316  Kathmandu